<div class="container login">
    <div class="row">
        <div class="col-md-3 col-centered">
            <h2 class="heading">TaskApp</h2>
            <div class="form-login">
                <h4>Please login first.</h4>
                <input type="email" id="userName" class="form-control input-sm chat-input" placeholder="email" ng-model="email" ng-keypress="login($event)"/>
                </br>
                <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model="password" ng-keypress="login($event)" />
                </br>
                <div class="wrapper">
                <span class="group-btn">     
                    <a class="btn btn-primary btn-md" ng-click="login($event)">login <i class="fa fa-sign-in"></i></a>
                    <a class="btn btn-primary btn-md" ng-click="newUser()">Register <i class="fa fa-user"></i></a>
                </span>
                </div>
            </div>
        </div>
    </div>  
</div>